# Intro

Dans cette partie, nous allons traiter/analyser nos données et justifier nos choix pratiques/éthiques au niveau des features choisis.

In [141]:
import pandas as pd
from datetime import datetime

#ouverture Mise en Dataframe des données
employee_survey_data_path = "datas/employee_survey_data.csv"
manager_survey_data_path = "datas/manager_survey_data.csv"
general_data_path = "datas/general_data.csv"
in_time_data_path = "datas/in_time.csv"
out_time_data_path = "datas/out_time.csv"

# employee_survey_data = pd.read_csv(employee_survey_data_path)
# manager_survey_data = pd.read_csv(manager_survey_data_path)
# general_data = pd.read_csv(general_data_path)
in_time_data = pd.read_csv(in_time_data_path)
out_time_data = pd.read_csv(out_time_data_path)

datas_raw = [0]*4

datas_raw[0] = pd.read_csv(employee_survey_data_path)
datas_raw[1] = pd.read_csv(general_data_path)
datas_raw[2] = pd.read_csv(manager_survey_data_path)




def merge_datas(datas):
    merged_datas = datas[0]
    for i in range(len(datas)-1):
        merged_datas = pd.merge(merged_datas, datas[i+1], on='EmployeeID', how='inner')
    return merged_datas

In [142]:
def to_datetime(strdate):
    if type(strdate) == str:
        return datetime.strptime(strdate, "%Y-%m-%d %H:%M:%S").timestamp()
    else:
        return 0



def get_working_time(in_time_data, out_time_data):
    out_time_df = (
        out_time_data
        .iloc[:,1:]
        .applymap(lambda x: to_datetime(x))
    )
    in_time_df = (
        in_time_data
        .iloc[:,1:]
        .applymap(lambda x: to_datetime(x))
    )
    hours_per_day = out_time_df - in_time_df
    in_time_data["MeanWorkingHours"] = hours_per_day.mean(axis = 1)/3600
    return in_time_data[["EmployeeID", "MeanWorkingHours"]]

datas_raw[3] = get_working_time(in_time_data, out_time_data)

datas_raw[3]

      EmployeeID  MeanWorkingHours
0              1          6.554356
1              2          6.979604
2              3          6.502698
3              4          6.477067
4              5          7.515375
...          ...               ...
4405        4406          7.934534
4406        4407          5.626061
4407        4408          6.820812
4408        4409          8.765193
4409        4410          6.212398

[4410 rows x 2 columns]

merging:

In [143]:
datas = merge_datas(datas_raw)
datas

,EmployeeID,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,JobInvolvement,PerformanceRating,MeanWorkingHours
0,1,3.0,4.0,2.0,51,No,Travel_Rarely,Sales,6,2,...,8,0,1.0,6,1,0,0,3,3,6.554356
1,2,3.0,2.0,4.0,31,Yes,Travel_Frequently,Research & Development,10,1,...,8,1,6.0,3,5,1,4,2,4,6.979604
2,3,2.0,2.0,1.0,32,No,Travel_Frequently,Research & Development,17,4,...,8,3,5.0,2,5,0,3,3,3,6.502698
3,4,4.0,4.0,3.0,38,No,Non-Travel,Research & Development,2,5,...,8,3,13.0,5,8,7,5,2,3,6.477067
4,5,4.0,1.0,3.0,32,No,Travel_Rarely,Research & Development,10,1,...,8,2,9.0,2,6,0,4,3,3,7.515375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,4406,4.0,1.0,3.0,42,No,Travel_Rarely,Research & Development,5,4,...,8,1,10.0,5,3,0,2,3,3,7.934534
4406,4407,4.0,4.0,3.0,29,No,Travel_Rarely,Research & Development,2,4,...,8,0,10.0,2,3,0,2,2,3,5.626061
4407,4408,1.0,3.0,3.0,25,No,Travel_Rarely,Research & Development,25,2,...,8,0,5.0,4,4,1,2,3,4,6.820812
4408,4409,4.0,1.0,3.0,42,No,Travel_Rarely,Sales,18,2,...,8,1,10.0,2,9,7,8,2,3,8.765193
4409,4410,1.0,3.0,NaN,40,No,Travel_Rarely,Research & Development,28,3,...,8,0,NaN,6,21,3,9,4,3,6.212398

# Filtre Ethique
ici, on enleve les features ethiquement discutables. On a identifié:
- age
- Gender
- MaritalStatus

In [144]:
datas.drop(columns=["Age","Gender","MaritalStatus"], axis=1, inplace=True, errors="ignore")
datas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               4410 non-null   int64
 1   EnvironmentSatisfaction  4385 non-null   float64
 2   JobSatisfaction          4390 non-null   float64
 3   WorkLifeBalance          4372 non-null   float64
 4   Attrition                4410 non-null   object
 5   BusinessTravel           4410 non-null   object
 6   Department               4410 non-null   object
 7   DistanceFromHome         4410 non-null   int64
 8   Education                4410 non-null   int64
 9   EducationField           4410 non-null   object
 10  EmployeeCount            4410 non-null   int64
 11  JobLevel                 4410 non-null   int64
 12  JobRole                  4410 non-null   object
 13  MonthlyIncome            4410 non-null   int64
 14  NumCompaniesWorked       4391 non-null   float64
 15  Over18                   4410 non-null   object
 16  PercentSalaryHike        4410 non-null   int64
 17  StandardHours            4410 non-null   int64
 18  StockOptionLevel         4410 non-null   int64
 19  TotalWorkingYears        4401 non-null   float64
 20  TrainingTimesLastYear    4410 non-null   int64
 21  YearsAtCompany           4410 non-null   int64
 22  YearsSinceLastPromotion  4410 non-null   int64
 23  YearsWithCurrManager     4410 non-null   int64
 24  JobInvolvement           4410 non-null   int64
 25  PerformanceRating        4410 non-null   int64
 26  MeanWorkingHours         4410 non-null   float64
dtypes: float64(6), int64(15), object(6)
memory usage: 930.4+ KB

# Vérification d'exhaustivité
Dans un premier temps, on regarde les données pour voir s'il y a des features manquantes pour certaines instances.

In [145]:
print(datas.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               4410 non-null   int64
 1   EnvironmentSatisfaction  4385 non-null   float64
 2   JobSatisfaction          4390 non-null   float64
 3   WorkLifeBalance          4372 non-null   float64
 4   Attrition                4410 non-null   object
 5   BusinessTravel           4410 non-null   object
 6   Department               4410 non-null   object
 7   DistanceFromHome         4410 non-null   int64
 8   Education                4410 non-null   int64
 9   EducationField           4410 non-null   object
 10  EmployeeCount            4410 non-null   int64
 11  JobLevel                 4410 non-null   int64
 12  JobRole                  4410 non-null   object
 13  MonthlyIncome            4410 non-null   int64
 14  NumCompaniesWorked       4391 non-null   float64
 15  Over18                   4410 non-null   object
 16  PercentSalaryHike        4410 non-null   int64
 17  StandardHours            4410 non-null   int64
 18  StockOptionLevel         4410 non-null   int64
 19  TotalWorkingYears        4401 non-null   float64
 20  TrainingTimesLastYear    4410 non-null   int64
 21  YearsAtCompany           4410 non-null   int64
 22  YearsSinceLastPromotion  4410 non-null   int64
 23  YearsWithCurrManager     4410 non-null   int64
 24  JobInvolvement           4410 non-null   int64
 25  PerformanceRating        4410 non-null   int64
 26  MeanWorkingHours         4410 non-null   float64
dtypes: float64(6), int64(15), object(6)
memory usage: 930.4+ KB
None

In [146]:
datas = datas.dropna(subset=datas.columns)

datas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4300 entries, 0 to 4408
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               4300 non-null   int64
 1   EnvironmentSatisfaction  4300 non-null   float64
 2   JobSatisfaction          4300 non-null   float64
 3   WorkLifeBalance          4300 non-null   float64
 4   Attrition                4300 non-null   object
 5   BusinessTravel           4300 non-null   object
 6   Department               4300 non-null   object
 7   DistanceFromHome         4300 non-null   int64
 8   Education                4300 non-null   int64
 9   EducationField           4300 non-null   object
 10  EmployeeCount            4300 non-null   int64
 11  JobLevel                 4300 non-null   int64
 12  JobRole                  4300 non-null   object
 13  MonthlyIncome            4300 non-null   int64
 14  NumCompaniesWorked       4300 non-null   float64
 15  Over18                   4300 non-null   object
 16  PercentSalaryHike        4300 non-null   int64
 17  StandardHours            4300 non-null   int64
 18  StockOptionLevel         4300 non-null   int64
 19  TotalWorkingYears        4300 non-null   float64
 20  TrainingTimesLastYear    4300 non-null   int64
 21  YearsAtCompany           4300 non-null   int64
 22  YearsSinceLastPromotion  4300 non-null   int64
 23  YearsWithCurrManager     4300 non-null   int64
 24  JobInvolvement           4300 non-null   int64
 25  PerformanceRating        4300 non-null   int64
 26  MeanWorkingHours         4300 non-null   float64
dtypes: float64(6), int64(15), object(6)
memory usage: 940.6+ KB

# Traitement des données non numériques

Il nous reste 4382 instances, on a donc toujours largement assez de données

Il faut maintenant gérer nos données qui sont autres que numériques

Premièrement, nous allons quantifier la fréquence de voyages d'affaires de nos salariés:

In [147]:
#import numpy as np
from sklearn.preprocessing import OrdinalEncoder


mapping_dict = {'Non-Travel': 1, 'Travel_Rarely': 2, 'Travel_Frequently': 3}

datas['BusinessTravel'] = datas['BusinessTravel'].map(mapping_dict)


# encoder.fit()

/tmp/ipykernel_25241/608199800.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datas['BusinessTravel'] = datas['BusinessTravel'].map(mapping_dict)

In [148]:
mapping_dict = {'No': 0, 'Yes': 1}
datas['Attrition'] = datas['Attrition'].map(mapping_dict)

datas

/tmp/ipykernel_25241/1591207841.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datas['Attrition'] = datas['Attrition'].map(mapping_dict)

,EmployeeID,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,JobInvolvement,PerformanceRating,MeanWorkingHours
0,1,3.0,4.0,2.0,0,2,Sales,6,2,Life Sciences,...,8,0,1.0,6,1,0,0,3,3,6.554356
1,2,3.0,2.0,4.0,1,3,Research & Development,10,1,Life Sciences,...,8,1,6.0,3,5,1,4,2,4,6.979604
2,3,2.0,2.0,1.0,0,3,Research & Development,17,4,Other,...,8,3,5.0,2,5,0,3,3,3,6.502698
3,4,4.0,4.0,3.0,0,1,Research & Development,2,5,Life Sciences,...,8,3,13.0,5,8,7,5,2,3,6.477067
4,5,4.0,1.0,3.0,0,2,Research & Development,10,1,Medical,...,8,2,9.0,2,6,0,4,3,3,7.515375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,4405,3.0,4.0,3.0,0,2,Sales,4,3,Other,...,8,0,6.0,2,6,1,5,2,3,6.789862
4405,4406,4.0,1.0,3.0,0,2,Research & Development,5,4,Medical,...,8,1,10.0,5,3,0,2,3,3,7.934534
4406,4407,4.0,4.0,3.0,0,2,Research & Development,2,4,Medical,...,8,0,10.0,2,3,0,2,2,3,5.626061
4407,4408,1.0,3.0,3.0,0,2,Research & Development,25,2,Life Sciences,...,8,0,5.0,4,4,1,2,3,4,6.820812
4408,4409,4.0,1.0,3.0,0,2,Sales,18,2,Medical,...,8,1,10.0,2,9,7,8,2,3,8.765193

En explorant nos données, on remarque qu'il y a des données uniques pour toutes nos itérations:

In [149]:

#clean les donnees string ici avant ce bloc!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#datas.hist(bins=50, figsize=(20,15))

on peut donc enlever:
- EmployeeCount
- Over18
- StandardHours

In [150]:
datas.drop(columns=["EmployeeCount","Over18","StandardHours"], errors="ignore", inplace=True)
datas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4300 entries, 0 to 4408
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               4300 non-null   int64
 1   EnvironmentSatisfaction  4300 non-null   float64
 2   JobSatisfaction          4300 non-null   float64
 3   WorkLifeBalance          4300 non-null   float64
 4   Attrition                4300 non-null   int64
 5   BusinessTravel           4300 non-null   int64
 6   Department               4300 non-null   object
 7   DistanceFromHome         4300 non-null   int64
 8   Education                4300 non-null   int64
 9   EducationField           4300 non-null   object
 10  JobLevel                 4300 non-null   int64
 11  JobRole                  4300 non-null   object
 12  MonthlyIncome            4300 non-null   int64
 13  NumCompaniesWorked       4300 non-null   float64
 14  PercentSalaryHike        4300 non-null   int64
 15  StockOptionLevel         4300 non-null   int64
 16  TotalWorkingYears        4300 non-null   float64
 17  TrainingTimesLastYear    4300 non-null   int64
 18  YearsAtCompany           4300 non-null   int64
 19  YearsSinceLastPromotion  4300 non-null   int64
 20  YearsWithCurrManager     4300 non-null   int64
 21  JobInvolvement           4300 non-null   int64
 22  PerformanceRating        4300 non-null   int64
 23  MeanWorkingHours         4300 non-null   float64
dtypes: float64(6), int64(15), object(3)
memory usage: 839.8+ KB

/tmp/ipykernel_25241/3139450360.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datas.drop(columns=["EmployeeCount","Over18","StandardHours"], errors="ignore", inplace=True)

Faisons maintenant des OneHotEncoders des données string restantes

In [151]:
import numpy as np
from sklearn.preprocessing import OneHotEncoder

one_hot_encoder = OneHotEncoder()
encoded_datas_array = one_hot_encoder.fit_transform(datas[[
    "EducationField", "Department", "JobRole",]]).toarray()
encoded_datas_labels = one_hot_encoder.categories_
encoded_datas_labels = np.hstack([
    ["EducationField_" + x for x in encoded_datas_labels[0]],
    ["Department_" + x for x in encoded_datas_labels[1]],
    ["JobRole_" + x for x in encoded_datas_labels[2]]
    ])
encoded_data = pd.DataFrame(encoded_datas_array, columns=encoded_datas_labels)
print(encoded_data.info())


datas = datas.merge(encoded_data, on="EmployeeID")

datas.drop(['EducationField', 'Department', "JobRole"], axis=1, inplace=True, errors="ignore")
datas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4300 entries, 0 to 4299
Data columns (total 18 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   EducationField_Human Resources     4300 non-null   float64
 1   EducationField_Life Sciences       4300 non-null   float64
 2   EducationField_Marketing           4300 non-null   float64
 3   EducationField_Medical             4300 non-null   float64
 4   EducationField_Other               4300 non-null   float64
 5   EducationField_Technical Degree    4300 non-null   float64
 6   Department_Human Resources         4300 non-null   float64
 7   Department_Research & Development  4300 non-null   float64
 8   Department_Sales                   4300 non-null   float64
 9   JobRole_Healthcare Representative  4300 non-null   float64
 10  JobRole_Human Resources            4300 non-null   float64
 11  JobRole_Laboratory Technician      4300 non-null   float64
 12  JobRole_Manager                    4300 non-null   float64
 13  JobRole_Manufacturing Director     4300 non-null   float64
 14  JobRole_Research Director          4300 non-null   float64
 15  JobRole_Research Scientist         4300 non-null   float64
 16  JobRole_Sales Executive            4300 non-null   float64
 17  JobRole_Sales Representative       4300 non-null   float64
dtypes: float64(18)
memory usage: 604.8 KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 4300 entries, 0 to 4408
Data columns (total 39 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   EmployeeID                         4300 non-null   int64
 1   EnvironmentSatisfaction            4300 non-null   float64
 2   JobSatisfaction                    4300 non-null   float64
 3   WorkLifeBalance                    4300 non-null   float64
 4   Attrition                          4300 non-null   int64
 5   BusinessTravel                     4300 non-null   int64
 6   DistanceFromHome                   4300 non-null   int64
 7   Education                          4300 non-null   int64
 8   JobLevel                           4300 non-null   int64
 9   MonthlyIncome                      4300 non-null   int64
 10  NumCompaniesWorked                 4300 non-null   float64
 11  PercentSalaryHike                  4300 non-null   int64
 12  StockOptionLevel                   4300 non-null   int64
 13  TotalWorkingYears                  4300 non-null   float64
 14  TrainingTimesLastYear              4300 non-null   int64
 15  YearsAtCompany                     4300 non-null   int64
 16  YearsSinceLastPromotion            4300 non-null   int64
 17  YearsWithCurrManager               4300 non-null   int64
 18  JobInvolvement                     4300 non-null   int64
 19  PerformanceRating                  4300 non-null   int64
 20  MeanWorkingHours                   4300 non-null   float64
 21  EducationField_Human Resources     4195 non-null   float64
 22  EducationField_Life Sciences       4195 non-null   float64
 23  EducationField_Marketing           4195 non-null   float64
 24  EducationField_Medical             4195 non-null   float64
 25  EducationField_Other               4195 non-null   float64
 26  EducationField_Technical Degree    4195 non-null   float64
 27  Department_Human Resources         4195 non-null   float64
 28  Department_Research & Development  4195 non-null   float64
 29  Department_Sales                   4195 non-null   float64
 30  JobRole_Healthcare Representative  4195 non-null   float64
 31  JobRole_Human Resources            4195 non-null   float64
 32  JobRole_Laboratory Technician      4195 non-null   float64
 33  JobRole_Manager                    4195 non-null   float64
 34  JobRole_Manufacturing Director     4195 non-null   float64
 35  JobRole_Research Director          4195 non-null   float64
 36  JobRole_Research Scientist         4195 non-null   float64
 37  JobRole_Sales Executive            4195 non-null   float64
 38  JobRole_Sales Representative       4195 non-null   float64
dtypes: float64(24), int64(15)
memory usage: 1.3 MB

/tmp/ipykernel_25241/2032386174.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datas[c] = encoded_data[c]
/tmp/ipykernel_25241/2032386174.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datas[c] = encoded_data[c]
/tmp/ipykernel_25241/2032386174.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datas[c] = encoded_data[c]
/tmp/ipykernel_25241/2032386174.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datas[c] = encoded_data[c]
/tmp/ipykernel_25241/2032386174.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datas[c] = encoded_data[c]
/tmp/ipykernel_25241/2032386174.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datas[c] = encoded_data[c]
/tmp/ipykernel_25241/2032386174.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datas[c] = encoded_data[c]
/tmp/ipykernel_25241/2032386174.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datas[c] = encoded_data[c]
/tmp/ipykernel_25241/2032386174.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datas[c] = encoded_data[c]
/tmp/ipykernel_25241/2032386174.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datas[c] = encoded_data[c]
/tmp/ipykernel_25241/2032386174.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datas[c] = encoded_data[c]
/tmp/ipykernel_25241/2032386174.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datas[c] = encoded_data[c]
/tmp/ipykernel_25241/2032386174.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datas[c] = encoded_data[c]
/tmp/ipykernel_25241/2032386174.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datas[c] = encoded_data[c]
/tmp/ipykernel_25241/2032386174.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datas[c] = encoded_data[c]
/tmp/ipykernel_25241/2032386174.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datas[c] = encoded_data[c]
/tmp/ipykernel_25241/2032386174.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datas[c] = encoded_data[c]
/tmp/ipykernel_25241/2032386174.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datas[c] = encoded_data[c]
/tmp/ipykernel_25241/2032386174.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datas.drop(['EducationField', 'Department', "JobRole"], axis=1, inplace=True, errors="ignore")

In [79]:
datas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 39 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   EmployeeID                         4410 non-null   int64
 1   EnvironmentSatisfaction            4385 non-null   float64
 2   JobSatisfaction                    4390 non-null   float64
 3   WorkLifeBalance                    4372 non-null   float64
 4   Attrition                          4410 non-null   int64
 5   BusinessTravel                     4410 non-null   int64
 6   DistanceFromHome                   4410 non-null   int64
 7   Education                          4410 non-null   int64
 8   JobLevel                           4410 non-null   int64
 9   MonthlyIncome                      4410 non-null   int64
 10  NumCompaniesWorked                 4391 non-null   float64
 11  PercentSalaryHike                  4410 non-null   int64
 12  StockOptionLevel                   4410 non-null   int64
 13  TotalWorkingYears                  4401 non-null   float64
 14  TrainingTimesLastYear              4410 non-null   int64
 15  YearsAtCompany                     4410 non-null   int64
 16  YearsSinceLastPromotion            4410 non-null   int64
 17  YearsWithCurrManager               4410 non-null   int64
 18  JobInvolvement                     4410 non-null   int64
 19  PerformanceRating                  4410 non-null   int64
 20  MeanWorkingHours                   4410 non-null   float64
 21  EducationField_Human Resources     4410 non-null   float64
 22  EducationField_Life Sciences       4410 non-null   float64
 23  EducationField_Marketing           4410 non-null   float64
 24  EducationField_Medical             4410 non-null   float64
 25  EducationField_Other               4410 non-null   float64
 26  EducationField_Technical Degree    4410 non-null   float64
 27  Department_Human Resources         4410 non-null   float64
 28  Department_Research & Development  4410 non-null   float64
 29  Department_Sales                   4410 non-null   float64
 30  JobRole_Healthcare Representative  4410 non-null   float64
 31  JobRole_Human Resources            4410 non-null   float64
 32  JobRole_Laboratory Technician      4410 non-null   float64
 33  JobRole_Manager                    4410 non-null   float64
 34  JobRole_Manufacturing Director     4410 non-null   float64
 35  JobRole_Research Director          4410 non-null   float64
 36  JobRole_Research Scientist         4410 non-null   float64
 37  JobRole_Sales Executive            4410 non-null   float64
 38  JobRole_Sales Representative       4410 non-null   float64
dtypes: float64(24), int64(15)
memory usage: 1.3 MB