# Data Analysis

Dans cette partie, nous allons traiter/analyser nos données et justifier nos choix pratiques/éthiques au niveau des features choisis.

In [12]:
import pandas as pd

#ouverture Mise en Dataframe des données
employee_survey_data_path = "datas/employee_survey_data.csv"
manager_survey_data_path = "datas/manager_survey_data.csv"
general_data_path = "datas/general_data.csv"
in_time_data_path = "datas/in_time.csv"
out_time_data_path = "datas/out_time.csv"

employee_survey_data = pd.read_csv(employee_survey_data_path)
manager_survey_data = pd.read_csv(manager_survey_data_path)
general_data = pd.read_csv(general_data_path)
in_time_data = pd.read_csv(in_time_data_path)
out_time_data = pd.read_csv(out_time_data_path)

Dans un premier temps, on regarde les données pour voir s'il y a des features manquantes pour certaines instances.

In [13]:
print("EMPLOYEE SURVEY DATA")
print(employee_survey_data.info())
print("---------------------------------------------------------")
print("MANAGER SURVEY DATA")
print(manager_survey_data.info())
print("---------------------------------------------------------")
print("GENERAL DATA")
print(general_data.info())
print("---------------------------------------------------------")
print("IN DATA")
print(in_time_data.info(max_cols=300))
print("---------------------------------------------------------")
print("OUT DATA")
print(out_time_data.info(max_cols=300))
print("---------------------------------------------------------")

EMPLOYEE SURVEY DATA
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               4410 non-null   int64
 1   EnvironmentSatisfaction  4385 non-null   float64
 2   JobSatisfaction          4390 non-null   float64
 3   WorkLifeBalance          4372 non-null   float64
dtypes: float64(3), int64(1)
memory usage: 137.9 KB
None
---------------------------------------------------------
MANAGER SURVEY DATA
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeID         4410 non-null   int64
 1   JobInvolvement     4410 non-null   int64
 2   PerformanceRating  4410 non-null   int64
dtypes: int64(3)
memory usage: 103.5 KB
None
---------------------------------------------------------
GENERAL DATA
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   object
 2   BusinessTravel           4410 non-null   object
 3   Department               4410 non-null   object
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   object
 7   EmployeeCount            4410 non-null   int64
 8   EmployeeID               4410 non-null   int64
 9   Gender                   4410 non-null   object
 10  JobLevel                 4410 non-null   int64
 11  JobRole                  4410 non-null   object
 12  MaritalStatus            4410 non-null   object
 13  MonthlyIncome            4410 non-null   int64
 14  NumCompaniesWorked       4391 non-null   float64
 15  Over18                   4410 non-null   object
 16  PercentSalaryHike        4410 non-null   int64
 17  StandardHours            4410 non-null   int64
 18  StockOptionLevel         4410 non-null   int64
 19  TotalWorkingYears        4401 non-null   float64
 20  TrainingTimesLastYear    4410 non-null   int64
 21  YearsAtCompany           4410 non-null   int64
 22  YearsSinceLastPromotion  4410 non-null   int64
 23  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(2), int64(14), object(8)
memory usage: 827.0+ KB
None
---------------------------------------------------------
IN DATA
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 262 columns):
 #    Column      Non-Null Count  Dtype
---   ------      --------------  -----
 0    Unnamed: 0  4410 non-null   int64
 1    2015-01-01  0 non-null      float64
 2    2015-01-02  4201 non-null   object
 3    2015-01-05  4204 non-null   object
 4    2015-01-06  4182 non-null   object
 5    2015-01-07  4201 non-null   object
 6    2015-01-08  4167 non-null   object
 7    2015-01-09  4195 non-null   object
 8    2015-01-12  4171 non-null   object
 9    2015-01-13  4145 non-null   object
 10   2015-01-14  0 non-null      float64
 11   2015-01-15  4174 non-null   object
 12   2015-01-16  4146 non-null   object
 13   2015-01-19  4182 non-null   object
 14   2015-01-20  4169 non-null   object
 15   2015-01-21  4170 non-null   object
 16   2015-01-22  4170 non-null   object
 17   2015-01-23  4161 non-null   object
 18   2015-01-26  0 non-null      float64
 19   2015-01-27  4193 non-null   object
 20   2015-01-28  4198 non-null   object
 21   2015-01-29  4134 non-null   object
 22   2015-01-30  4202 non-null   object
 23   2015-02-02  4202 non-null   object
 24   2015-02-03  4204 non-null   object
 25   2015-02-04  4198 non-null   object
 26   2015-02-05  4199 non-null   object
 27   2015-02-06  4199 non-null   object
 28   2015-02-09  4186 non-null   object
 29   2015-02-10  4191 non-null   object
 30   2015-02-11  4184 non-null   object
 31   2015-02-12  4174 non-null   object
 32   2015-02-13  4198 non-null   object
 33   2015-02-16  4188 non-null   object
 34   2015-02-17  4166 non-null   object
 35   2015-02-18  4181 non-null   object
 36   2015-02-19  4193 non-null   object
 37   2015-02-20  4198 non-null   object
 38   2015-02-23  4169 non-null   object
 39   2015-02-24  4184 non-null   object
 40   2015-02-25  4176 non-null   object
 41   2015-02-26  4172 non-null   object
 42   2015-02-27  4174 non-null   object
 43   2015-03-02  4156 non-null   object
 44   2015-03-03  4182 non-null   object
 45   2015-03-04  4179 non-null   object
 46   2015-03-05  0 non-null      float64
 47   2015-03-06  4168 non-null   object
 48   2015-03-09  4178 non-null   object
 49   2015-03-10  4167 non-null   object
 50   2015-03-11  4178 non-null   object
 51   2015-03-12  4191 non-null   object
 52   2015-03-13  4219 non-null   object
 53   2015-03-16  4191 non-null   object
 54   2015-03-17  4179 non-null   object
 55   2015-03-18  4173 non-null   object
 56   2015-03-19  4171 non-null   object
 57   2015-03-20  4187 non-null   object
 58   2015-03-23  4203 non-null   object
 59   2015-03-24  4193 non-null   object
 60   2015-03-25  4207 non-null   object
 61   2015-03-26  4192 non-null   object
 62   2015-03-27  4175 non-null   object
 63   2015-03-30  4188 non-null   object
 64   2015-03-31  4199 non-null   object
 65   2015-04-01  4192 non-null   object
 66   2015-04-02  4207 non-null   object
 67   2015-04-03  4176 non-null   object
 68   2015-04-06  4176 non-null   object
 69   2015-04-07  4186 non-null   object
 70   2015-04-08  4171 non-null   object
 71   2015-04-09  4178 non-null   object
 72   2015-04-10  4192 non-null   object
 73   2015-04-13  4197 non-null   object
 74   2015-04-14  4203 non-null   object
 75   2015-04-15  4182 non-null   object
 76   2015-04-16  4196 non-null   object
 77   2015-04-17  4187 non-null   object
 78   2015-04-20  4175 non-null   object
 79   2015-04-21  4170 non-null   object
 80   2015-04-22  4213 non-null   object
 81   2015-04-23  4188 non-null   object
 82   2015-04-24  4190 non-null   object
 83   2015-04-27  4159 non-null   object
 84   2015-04-28  4195 non-null   object
 85   2015-04-29  4172 non-null   object
 86   2015-04-30  4197 non-null   object
 87   2015-05-01  0 non-null      float64
 88   2015-05-04  4206 non-null   object
 89   2015-05-05  4191 non-null   object
 90   2015-05-06  4177 non-null   object
 91   2015-05-07  4187 non-null   object
 92   2015-05-08  4179 non-null   object
 93   2015-05-11  4181 non-null   object
 94   2015-05-12  4181 non-null   object
 95   2015-05-13  4197 non-null   object
 96   2015-05-14  4198 non-null   object
 97   2015-05-15  4203 non-null   object
 98   2015-05-18  4180 non-null   object
 99   2015-05-19  4193 non-null   object
 100  2015-05-20  4182 non-null   object
 101  2015-05-21  4183 non-null   object
 102  2015-05-22  4165 non-null   object
 103  2015-05-25  4173 non-null   object
 104  2015-05-26  4190 non-null   object
 105  2015-05-27  4189 non-null   object
 106  2015-05-28  4188 non-null   object
 107  2015-05-29  4175 non-null   object
 108  2015-06-01  4189 non-null   object
 109  2015-06-02  4169 non-null   object
 110  2015-06-03  4199 non-null   object
 111  2015-06-04  4182 non-null   object
 112  2015-06-05  4207 non-null   object
 113  2015-06-08  4179 non-null   object
 114  2015-06-09  4206 non-null   object
 115  2015-06-10  4183 non-null   object
 116  2015-06-11  4199 non-null   object
 117  2015-06-12  4186 non-null   object
 118  2015-06-15  4179 non-null   object
 119  2015-06-16  4164 non-null   object
 120  2015-06-17  4184 non-null   object
 121  2015-06-18  4195 non-null   object
 122  2015-06-19  4185 non-null   object
 123  2015-06-22  4179 non-null   object
 124  2015-06-23  4166 non-null   object
 125  2015-06-24  4173 non-null   object
 126  2015-06-25  4161 non-null   object
 127  2015-06-26  4179 non-null   object
 128  2015-06-29  4176 non-null   object
 129  2015-06-30  4163 non-null   object
 130  2015-07-01  4185 non-null   object
 131  2015-07-02  4189 non-null   object
 132  2015-07-03  4189 non-null   object
 133  2015-07-06  4194 non-null   object
 134  2015-07-07  4194 non-null   object
 135  2015-07-08  4220 non-null   object
 136  2015-07-09  4211 non-null   object
 137  2015-07-10  4180 non-null   object
 138  2015-07-13  4201 non-null   object
 139  2015-07-14  4179 non-null   object
 140  2015-07-15  4188 non-null   object
 141  2015-07-16  4182 non-null   object
 142  2015-07-17  0 non-null      float64
 143  2015-07-20  4197 non-null   object
 144  2015-07-21  4199 non-null   object
 145  2015-07-22  4198 non-null   object
 146  2015-07-23  4167 non-null   object
 147  2015-07-24  4172 non-null   object
 148  2015-07-27  4205 non-null   object
 149  2015-07-28  4198 non-null   object
 150  2015-07-29  4206 non-null   object
 151  2015-07-30  4184 non-null   object
 152  2015-07-31  4206 non-null   object
 153  2015-08-03  4190 non-null   object
 154  2015-08-04  4202 non-null   object
 155  2015-08-05  4204 non-null   object
 156  2015-08-06  4186 non-null   object
 157  2015-08-07  4178 non-null   object
 158  2015-08-10  4213 non-null   object
 159  2015-08-11  4173 non-null   object
 160  2015-08-12  4155 non-null   object
 161  2015-08-13  4165 non-null   object
 162  2015-08-14  4174 non-null   object
 163  2015-08-17  4180 non-null   object
 164  2015-08-18  4216 non-null   object
 165  2015-08-19  4177 non-null   object
 166  2015-08-20  4190 non-null   object
 167  2015-08-21  4191 non-null   object
 168  2015-08-24  4192 non-null   object
 169  2015-08-25  4172 non-null   object
 170  2015-08-26  4195 non-null   object
 171  2015-08-27  4209 non-null   object
 172  2015-08-28  4202 non-null   object
 173  2015-08-31  4184 non-null   object
 174  2015-09-01  4187 non-null   object
 175  2015-09-02  4178 non-null   object
 176  2015-09-03  4186 non-null   object
 177  2015-09-04  4180 non-null   object
 178  2015-09-07  4179 non-null   object
 179  2015-09-08  4165 non-null   object
 180  2015-09-09  4184 non-null   object
 181  2015-09-10  4206 non-null   object
 182  2015-09-11  4198 non-null   object
 183  2015-09-14  4166 non-null   object
 184  2015-09-15  4200 non-null   object
 185  2015-09-16  4190 non-null   object
 186  2015-09-17  0 non-null      float64
 187  2015-09-18  4208 non-null   object
 188  2015-09-21  4180 non-null   object
 189  2015-09-22  4175 non-null   object
 190  2015-09-23  4194 non-null   object
 191  2015-09-24  4166 non-null   object
 192  2015-09-25  4170 non-null   object
 193  2015-09-28  4193 non-null   object
 194  2015-09-29  4191 non-null   object
 195  2015-09-30  4191 non-null   object
 196  2015-10-01  4191 non-null   object
 197  2015-10-02  0 non-null      float64
 198  2015-10-05  4160 non-null   object
 199  2015-10-06  4193 non-null   object
 200  2015-10-07  4183 non-null   object
 201  2015-10-08  4166 non-null   object
 202  2015-10-09  4181 non-null   object
 203  2015-10-12  4177 non-null   object
 204  2015-10-13  4179 non-null   object
 205  2015-10-14  4187 non-null   object
 206  2015-10-15  4177 non-null   object
 207  2015-10-16  4186 non-null   object
 208  2015-10-19  4177 non-null   object
 209  2015-10-20  4172 non-null   object
 210  2015-10-21  4181 non-null   object
 211  2015-10-22  4175 non-null   object
 212  2015-10-23  4193 non-null   object
 213  2015-10-26  4178 non-null   object
 214  2015-10-27  4196 non-null   object
 215  2015-10-28  4197 non-null   object
 216  2015-10-29  4210 non-null   object
 217  2015-10-30  4180 non-null   object
 218  2015-11-02  4164 non-null   object
 219  2015-11-03  4199 non-null   object
 220  2015-11-04  4181 non-null   object
 221  2015-11-05  4166 non-null   object
 222  2015-11-06  4188 non-null   object
 223  2015-11-09  0 non-null      float64
 224  2015-11-10  0 non-null      float64
 225  2015-11-11  0 non-null      float64
 226  2015-11-12  4170 non-null   object
 227  2015-11-13  4191 non-null   object
 228  2015-11-16  4179 non-null   object
 229  2015-11-17  4183 non-null   object
 230  2015-11-18  4189 non-null   object
 231  2015-11-19  4210 non-null   object
 232  2015-11-20  4204 non-null   object
 233  2015-11-23  4163 non-null   object
 234  2015-11-24  4200 non-null   object
 235  2015-11-25  4194 non-null   object
 236  2015-11-26  4140 non-null   object
 237  2015-11-27  4168 non-null   object
 238  2015-11-30  4167 non-null   object
 239  2015-12-01  4200 non-null   object
 240  2015-12-02  4166 non-null   object
 241  2015-12-03  4182 non-null   object
 242  2015-12-04  4175 non-null   object
 243  2015-12-07  4184 non-null   object
 244  2015-12-08  4189 non-null   object
 245  2015-12-09  4187 non-null   object
 246  2015-12-10  4194 non-null   object
 247  2015-12-11  4190 non-null   object
 248  2015-12-14  4176 non-null   object
 249  2015-12-15  4156 non-null   object
 250  2015-12-16  4183 non-null   object
 251  2015-12-17  4203 non-null   object
 252  2015-12-18  4171 non-null   object
 253  2015-12-21  4194 non-null   object
 254  2015-12-22  4160 non-null   object
 255  2015-12-23  4188 non-null   object
 256  2015-12-24  4160 non-null   object
 257  2015-12-25  0 non-null      float64
 258  2015-12-28  4176 non-null   object
 259  2015-12-29  4180 non-null   object
 260  2015-12-30  4145 non-null   object
 261  2015-12-31  4197 non-null   object
dtypes: float64(12), int64(1), object(249)
memory usage: 8.8+ MB
None
---------------------------------------------------------
OUT DATA
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 262 columns):
 #    Column      Non-Null Count  Dtype
---   ------      --------------  -----
 0    Unnamed: 0  4410 non-null   int64
 1    2015-01-01  0 non-null      float64
 2    2015-01-02  4201 non-null   object
 3    2015-01-05  4204 non-null   object
 4    2015-01-06  4182 non-null   object
 5    2015-01-07  4201 non-null   object
 6    2015-01-08  4167 non-null   object
 7    2015-01-09  4195 non-null   object
 8    2015-01-12  4171 non-null   object
 9    2015-01-13  4145 non-null   object
 10   2015-01-14  0 non-null      float64
 11   2015-01-15  4174 non-null   object
 12   2015-01-16  4146 non-null   object
 13   2015-01-19  4182 non-null   object
 14   2015-01-20  4169 non-null   object
 15   2015-01-21  4170 non-null   object
 16   2015-01-22  4170 non-null   object
 17   2015-01-23  4161 non-null   object
 18   2015-01-26  0 non-null      float64
 19   2015-01-27  4193 non-null   object
 20   2015-01-28  4198 non-null   object
 21   2015-01-29  4134 non-null   object
 22   2015-01-30  4202 non-null   object
 23   2015-02-02  4202 non-null   object
 24   2015-02-03  4204 non-null   object
 25   2015-02-04  4198 non-null   object
 26   2015-02-05  4199 non-null   object
 27   2015-02-06  4199 non-null   object
 28   2015-02-09  4186 non-null   object
 29   2015-02-10  4191 non-null   object
 30   2015-02-11  4184 non-null   object
 31   2015-02-12  4174 non-null   object
 32   2015-02-13  4198 non-null   object
 33   2015-02-16  4188 non-null   object
 34   2015-02-17  4166 non-null   object
 35   2015-02-18  4181 non-null   object
 36   2015-02-19  4193 non-null   object
 37   2015-02-20  4198 non-null   object
 38   2015-02-23  4169 non-null   object
 39   2015-02-24  4184 non-null   object
 40   2015-02-25  4176 non-null   object
 41   2015-02-26  4172 non-null   object
 42   2015-02-27  4174 non-null   object
 43   2015-03-02  4156 non-null   object
 44   2015-03-03  4182 non-null   object
 45   2015-03-04  4179 non-null   object
 46   2015-03-05  0 non-null      float64
 47   2015-03-06  4168 non-null   object
 48   2015-03-09  4178 non-null   object
 49   2015-03-10  4167 non-null   object
 50   2015-03-11  4178 non-null   object
 51   2015-03-12  4191 non-null   object
 52   2015-03-13  4219 non-null   object
 53   2015-03-16  4191 non-null   object
 54   2015-03-17  4179 non-null   object
 55   2015-03-18  4173 non-null   object
 56   2015-03-19  4171 non-null   object
 57   2015-03-20  4187 non-null   object
 58   2015-03-23  4203 non-null   object
 59   2015-03-24  4193 non-null   object
 60   2015-03-25  4207 non-null   object
 61   2015-03-26  4192 non-null   object
 62   2015-03-27  4175 non-null   object
 63   2015-03-30  4188 non-null   object
 64   2015-03-31  4199 non-null   object
 65   2015-04-01  4192 non-null   object
 66   2015-04-02  4207 non-null   object
 67   2015-04-03  4176 non-null   object
 68   2015-04-06  4176 non-null   object
 69   2015-04-07  4186 non-null   object
 70   2015-04-08  4171 non-null   object
 71   2015-04-09  4178 non-null   object
 72   2015-04-10  4192 non-null   object
 73   2015-04-13  4197 non-null   object
 74   2015-04-14  4203 non-null   object
 75   2015-04-15  4182 non-null   object
 76   2015-04-16  4196 non-null   object
 77   2015-04-17  4187 non-null   object
 78   2015-04-20  4175 non-null   object
 79   2015-04-21  4170 non-null   object
 80   2015-04-22  4213 non-null   object
 81   2015-04-23  4188 non-null   object
 82   2015-04-24  4190 non-null   object
 83   2015-04-27  4159 non-null   object
 84   2015-04-28  4195 non-null   object
 85   2015-04-29  4172 non-null   object
 86   2015-04-30  4197 non-null   object
 87   2015-05-01  0 non-null      float64
 88   2015-05-04  4206 non-null   object
 89   2015-05-05  4191 non-null   object
 90   2015-05-06  4177 non-null   object
 91   2015-05-07  4187 non-null   object
 92   2015-05-08  4179 non-null   object
 93   2015-05-11  4181 non-null   object
 94   2015-05-12  4181 non-null   object
 95   2015-05-13  4197 non-null   object
 96   2015-05-14  4198 non-null   object
 97   2015-05-15  4203 non-null   object
 98   2015-05-18  4180 non-null   object
 99   2015-05-19  4193 non-null   object
 100  2015-05-20  4182 non-null   object
 101  2015-05-21  4183 non-null   object
 102  2015-05-22  4165 non-null   object
 103  2015-05-25  4173 non-null   object
 104  2015-05-26  4190 non-null   object
 105  2015-05-27  4189 non-null   object
 106  2015-05-28  4188 non-null   object
 107  2015-05-29  4175 non-null   object
 108  2015-06-01  4189 non-null   object
 109  2015-06-02  4169 non-null   object
 110  2015-06-03  4199 non-null   object
 111  2015-06-04  4182 non-null   object
 112  2015-06-05  4207 non-null   object
 113  2015-06-08  4179 non-null   object
 114  2015-06-09  4206 non-null   object
 115  2015-06-10  4183 non-null   object
 116  2015-06-11  4199 non-null   object
 117  2015-06-12  4186 non-null   object
 118  2015-06-15  4179 non-null   object
 119  2015-06-16  4164 non-null   object
 120  2015-06-17  4184 non-null   object
 121  2015-06-18  4195 non-null   object
 122  2015-06-19  4185 non-null   object
 123  2015-06-22  4179 non-null   object
 124  2015-06-23  4166 non-null   object
 125  2015-06-24  4173 non-null   object
 126  2015-06-25  4161 non-null   object
 127  2015-06-26  4179 non-null   object
 128  2015-06-29  4176 non-null   object
 129  2015-06-30  4163 non-null   object
 130  2015-07-01  4185 non-null   object
 131  2015-07-02  4189 non-null   object
 132  2015-07-03  4189 non-null   object
 133  2015-07-06  4194 non-null   object
 134  2015-07-07  4194 non-null   object
 135  2015-07-08  4220 non-null   object
 136  2015-07-09  4211 non-null   object
 137  2015-07-10  4180 non-null   object
 138  2015-07-13  4201 non-null   object
 139  2015-07-14  4179 non-null   object
 140  2015-07-15  4188 non-null   object
 141  2015-07-16  4182 non-null   object
 142  2015-07-17  0 non-null      float64
 143  2015-07-20  4197 non-null   object
 144  2015-07-21  4199 non-null   object
 145  2015-07-22  4198 non-null   object
 146  2015-07-23  4167 non-null   object
 147  2015-07-24  4172 non-null   object